:root {
    --black-100: #050D18;
    --black-80: #363D46;
    --black-50: #82868B;
    --black-30: #B4B6B9;
    --black-10: #E6E6E7;
    --white-primary: #FFFFFF;
    --white-secondary: #F8F9FA;
    --primary-100: #2541D7;
    --primary-80: #5066DF;
    --primary-50: #92A0EB;
    --primary-30: #BDC6F3;
    --primary-10: #E9ECFB;
    --success-100: #20C997;
    --success-80: #4CD3AB;
    --success-50: #8FE4CB;
    --success-30: #BCEEDF;
    --success-10: #E8F9F4;
    --warning-100: #FFC107;
    --warning-80: #FFCD38;
    --warning-50: #FFE083;
    --warning-30: #FFECB4;
    --warning-10: #FFF8E6;
    --alert-100: #DC3545;
    --alert-80: #E35D6A;
    --alert-50: #ED9AA2;
    --alert-30: #F4C2C7;
    --alert-10: #FBEAEC;

}

/* font material icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-48 {
    font-size: 48px;
}

/* penutup material-icons */

/* custom more css */

/* ubah seleksi teks */
::-moz-selection {
    /* Code for Firefox */
    color: var(--white-primary);
    background: var(--primary-100);
}

::selection {
    color: var(--white-primary);
    background: var(--primary-100);
}

body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

nav {
    z-index: 2;
    margin: 0;
    padding: 0;
}

/* custom css */

* {
    font-family: 'Poppins', sans-serif;
}

.body-user-container {
    background-color: var(--white-secondary);
}

.body-page {
    background-color: var(--white-secondary);
}

.span-box {
    width: 10px;
    height: 10px;
    background-color: greenyellow;
}

.content-why {
    width: 100%;
    display: flex;
    justify-content: center;
}

.testi-section {
    display: flex;
    justify-content: space-around;
}

.our-team {
    display: flex;
    justify-content: space-between;
}


.footer {
    display: flex;
    justify-content: space-around;
}

.footer-jumbotron a {
    text-decoration: none;
    color: var(--black-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

/* custom css bootstrap */
.btn-primary {
    background-color: var(--primary-100);
}

.btn-primary:hover {
    background-color: #2137b6;
}

/* akhir custom bootstrap */

/* navbar */
.main-navbar {
    background-color: var(--white-primary);
    box-shadow: 0 0 50px #ccc;
    font-weight: 600;
    color: var(--black-80);
}

.login-button a {
    font-weight: 600;
    color: var(--black-80);
}

.signup-button a {
    font-weight: 600;
    color: var(--white-secondary) !important;
}

.logo-navbar {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 24px;
    color: var(--success-100) !important;
}

.ul-button {
    margin-left: 90px;
}

.col-menu a:hover {
    color: var(--primary-100);
}

.btn-login a:hover {
    background-color: var(--black-10);
    transition: all 0.5s;
}

/* penutup navbar */

/* home style */
.hero {
    background-color: var(--white-secondary);
}

.hero a {
    font-weight: 600;
    padding: 10px 45px;
}

.roboto-24-reguler {
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 400;
}

.roboto-18-medium {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
}

.roboto-14-reguler {
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
}

.roboto-16-medium {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
}

.card-pricing-main {
    background-color: var(--primary-100);
}

.text-pricing {
    font-size: 14px;
    font-weight: 500;
}

.roboto-pricing-medium {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
}

.roboto-free-pricing-reguler,
.roboto-premium-pricing-reguler {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}

.roboto-free-pricing-reguler {
    color: var(--black-80);
}

.roboto-premium-pricing-reguler {
    color: var(--white-primary);
}

.free-pricing-card {
    background-color: var(--white-primary);
    color: var(--black-100);
}

.premium-pricing-card {
    background-color: var(--primary-100);
    color: var(--white-primary);
}

.icon-primary box-icon {
    color: var(--primary-100) !important;
}

.btn-course-white {
    color: var(--black-100);
    background-color: var(--white-primary);
}

.pricing-button-primary {
    margin-top: 175px;
}

.backgroud-primary {
    background-color: var(--primary-100);
    padding: 50px 0px;
}

.roboto-18-bold {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
}

.roboto-14-bold {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
}

.roboto-12-reguler {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
}

.roboto-12-medium {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
}

.border-black {
    border: 1px solid var(--black-100);
}

.testimonial-text::before {
    content: '"';
}

.testimonial-text::after {
    content: '"';
}

.poppins-18-bold {
    font-size: 18px;
    font-weight: 700;
}

.poppins-36-bold {
    font-size: 36px;
    font-weight: 700;
}

.background-offer-image {
    background-image: url("/img/home/tawaran.jpg");
    background-size: cover;
}

.background-offer-image img {
    background-size: cover;
}

.footer-jumbotron {
    margin: 100px 0 0 0;
}

.roboto-14-medium {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
}

#pricing {
    transition: 1s all;
    scroll-behavior: smooth;
}

/* penutup home style */

/* about style */
.header-poppins-48 {
    font-size: 48px;
    font-weight: 700;
}

.poppins-14-bold {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
}

.poppins-14-medium {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
}

.card-transparent {
    background-color: var(--white-secondary);
    border: none;
}

.socmed a {
    text-decoration: none;
    color: var(--black-50);
}

.poppins-18-semibold {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 0;
}

.poppins-18-reguler {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    padding: 0;
}

.contact-us a {
    text-decoration: none;
    color: var(--black-50);
}

/* penutup about */

/* css sidebar user */
.sidebar a:hover {
    color: var(--primary-100);
}

.logo-sidebar {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
}

.poppins-16-medium {
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
    padding: 0;
}

.poppins-14-semibold {
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 600;
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    color: var(--black-80);
}

.menu-active {
    color: var(--primary-100);
}

/* penutup sidebar */

/* page user css */
.body-user {
    background-color: var(--white-secondary);
    padding: 100px 0 150px 0;
    height: auto;
}

.body-user a {
    text-decoration: none;
}

.col-3 a {
    text-decoration: none;
}

.judul-card {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    color: var(--black-100);
}

.mentor-text-card {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: var(--black-100);
}

.status-kelas {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 400;
    color: var(--black-80);
}

.card-kelas {
    transition: 0.5s;
}

.card-kelas:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

/* penutup my course */

/* style di kelas */
.head-card-tools {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-100);
}

.download-card-tools {
    font-size: 14px;
    font-weight: 400;
    color: var(--black-80);
}

/* penutup kelas */

/* style paketCourse */
.pricing-card a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.btn-pricing:hover {
    color: var(--primary-100);
}

.btn-pricing {
    color: var(--primary-80);
    background-color: var(--primary-10);
}

.pricing-cost {
    font-size: 24px;
}

.pricing-card:hover {
    background-color: var(--primary-100);
    color: var(--white-primary);
}

.poppins-medium-24 {
    font-size: 24px;
    font-weight: 500;
}

/* tutup paketCourse */

/* ujicoba style */
input[type=text],
input[type=email],
input[type=password],
input[type=file] {
    border: 1px solid var(--black-80);
}

textarea {
    border: 1px solid var(--black-80) !important;
}

/* penutup ujicoba */

/* Halaman Sukses Daftar */
.success-page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* penutup sukses daftar */

/* login & sign up page style */
.lupa-sandi a {
    text-decoration: none;
    color: var(--black-100);
}

.login-form a,
.signup-form a,
.admin-login-form a {
    text-decoration: none;
    color: var(--primary-100);
}

.pesan-kesalahan {
    display: none;
}

/* penutup login */

/* responsive in bottom */

@media only screen and (max-width: 600px) {
    .content-why {

        width: 100%;
        display: block;
        margin-left: 25px;

    }

    .testi-section {
        display: block;
        margin-left: 25px;
    }


    .our-team {
        display: block;
        margin-left: 25px;
    }

    .footer {
        display: block;

    }

    .footer-perusahaan {
        margin-top: 20px;
    }

    .footer-komunitas {
        margin-top: 20px;
    }

    .footer-tautan {
        margin-top: 20px;
    }

}


.contact-img {
    display: flex;

    justify-content: space-around;
}
